.container {

  display: flex;

  justify-content: center;

  background-color: #D1E8E4;

 }

.bottom {
  padding-bottom: 30px;
}
h2 {
  color: #8a0abd;
  text-transform: uppercase;
}
button {

  background-color: #8a0abd;

  color: #fff;
  border-radius: 15px;
  border: none;
  padding: 15px 40px;
  text-transform: uppercase;

  margin-top: 20px;
  margin-bottom: 20px;

}